In [1]:
import pandas as pd
path="C:\\Users\\KIIT\\OneDrive\\Desktop\\leadtime\\leadtime_data.xlsx"

In [2]:
df=pd.read_excel(path)

In [3]:
df

,Unnamed: 0,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line
0,0,4,209110603,BRG.NO.32211 A,2002-01-21,2002-09-14,0,0,1,0,236,1999-01-01,1116
1,1,4,2585401002,WHITE CANVAS SHOES SIZE: 10.,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
2,2,4,910995101,NYLON WHITE SOCKS. .,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
3,3,4,1132805505,UNILITE MAKE 1X250W HPSV CONTROL GEAR BOX DULY...,2002-03-09,2002-09-06,0,0,1,0,181,1999-01-01,1163
4,4,4,209130407,BRG.NO. 32213 J2/Q,2002-05-03,2002-09-14,0,0,1,0,134,1999-01-01,1218
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117682,117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117683,117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117684,117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117685,117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335

In [4]:
# Convert date columns to datetime with explicit format
date_format = '%Y-%m-%d %H:%M:%S'
df['INDENT_DT'] = pd.to_datetime(df['INDENT_DT'], format=date_format, errors='coerce')
df['MATL_RECEIPT_DT'] = pd.to_datetime(df['MATL_RECEIPT_DT'], format=date_format, errors='coerce')

# Check for any rows with NaT values resulting from parsing errors
print(df[df['INDENT_DT'].isna() | df['MATL_RECEIPT_DT'].isna()])

# Drop rows with NaT values in date columns
df.dropna(subset=['INDENT_DT', 'MATL_RECEIPT_DT'], inplace=True)

# Calculate lead time in days
df['LEAD_TIME'] = (df['MATL_RECEIPT_DT'] - df['INDENT_DT']).dt.days

# Display the first few rows to check the changes
df.head()

Empty DataFrame
Columns: [Unnamed: 0, SH_CD, CATALOG_NO, CATALOG_DESC, INDENT_DT, MATL_RECEIPT_DT, INSUR_ITEM_IND, AR_ITEM_IND, SPC_ITEM_IND, QUALITY_IND, LEAD_TIME, base_date, time_line]
Index: []

,Unnamed: 0,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line
0,0,4,209110603,BRG.NO.32211 A,2002-01-21,2002-09-14,0,0,1,0,236,1999-01-01,1116
1,1,4,2585401002,WHITE CANVAS SHOES SIZE: 10.,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
2,2,4,910995101,NYLON WHITE SOCKS. .,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
3,3,4,1132805505,UNILITE MAKE 1X250W HPSV CONTROL GEAR BOX DULY...,2002-03-09,2002-09-06,0,0,1,0,181,1999-01-01,1163
4,4,4,209130407,BRG.NO. 32213 J2/Q,2002-05-03,2002-09-14,0,0,1,0,134,1999-01-01,1218

In [5]:
from sklearn.preprocessing import LabelEncoder

# Initialize label encoders
label_encoders = {}
for column in ['INSUR_ITEM_IND', 'AR_ITEM_IND', 'SPC_ITEM_IND', 'QUALITY_IND']:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

# Display the first few rows to check the encoding
df.head()

,Unnamed: 0,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line
0,0,4,209110603,BRG.NO.32211 A,2002-01-21,2002-09-14,0,0,1,0,236,1999-01-01,1116
1,1,4,2585401002,WHITE CANVAS SHOES SIZE: 10.,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
2,2,4,910995101,NYLON WHITE SOCKS. .,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
3,3,4,1132805505,UNILITE MAKE 1X250W HPSV CONTROL GEAR BOX DULY...,2002-03-09,2002-09-06,0,0,1,0,181,1999-01-01,1163
4,4,4,209130407,BRG.NO. 32213 J2/Q,2002-05-03,2002-09-14,0,0,1,0,134,1999-01-01,1218

In [6]:
df['INDENT_DT'] = pd.to_datetime(df['INDENT_DT'], format='%d-%m-%Y')
df['MATL_RECEIPT_DT'] = pd.to_datetime(df['MATL_RECEIPT_DT'], format='%d-%m-%Y')

In [7]:
base_date = pd.to_datetime('01-01-1999', format='%d-%m-%Y')
df['base_date'] = base_date

In [8]:
df

,Unnamed: 0,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line
0,0,4,209110603,BRG.NO.32211 A,2002-01-21,2002-09-14,0,0,1,0,236,1999-01-01,1116
1,1,4,2585401002,WHITE CANVAS SHOES SIZE: 10.,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
2,2,4,910995101,NYLON WHITE SOCKS. .,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
3,3,4,1132805505,UNILITE MAKE 1X250W HPSV CONTROL GEAR BOX DULY...,2002-03-09,2002-09-06,0,0,1,0,181,1999-01-01,1163
4,4,4,209130407,BRG.NO. 32213 J2/Q,2002-05-03,2002-09-14,0,0,1,0,134,1999-01-01,1218
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117682,117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117683,117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117684,117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117685,117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335

In [9]:
df['time_line'] = (df['INDENT_DT'] - df['base_date']).dt.days

In [10]:
df

,Unnamed: 0,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line
0,0,4,209110603,BRG.NO.32211 A,2002-01-21,2002-09-14,0,0,1,0,236,1999-01-01,1116
1,1,4,2585401002,WHITE CANVAS SHOES SIZE: 10.,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
2,2,4,910995101,NYLON WHITE SOCKS. .,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
3,3,4,1132805505,UNILITE MAKE 1X250W HPSV CONTROL GEAR BOX DULY...,2002-03-09,2002-09-06,0,0,1,0,181,1999-01-01,1163
4,4,4,209130407,BRG.NO. 32213 J2/Q,2002-05-03,2002-09-14,0,0,1,0,134,1999-01-01,1218
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117682,117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117683,117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117684,117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117685,117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335

In [11]:
df = df.drop(columns=['Unnamed: 0'])

In [12]:
df

,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line
0,4,209110603,BRG.NO.32211 A,2002-01-21,2002-09-14,0,0,1,0,236,1999-01-01,1116
1,4,2585401002,WHITE CANVAS SHOES SIZE: 10.,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
2,4,910995101,NYLON WHITE SOCKS. .,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
3,4,1132805505,UNILITE MAKE 1X250W HPSV CONTROL GEAR BOX DULY...,2002-03-09,2002-09-06,0,0,1,0,181,1999-01-01,1163
4,4,209130407,BRG.NO. 32213 J2/Q,2002-05-03,2002-09-14,0,0,1,0,134,1999-01-01,1218
...,...,...,...,...,...,...,...,...,...,...,...,...
117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335

In [13]:
date_format = '%Y-%m-%d %H:%M:%S'
df['INDENT_DT'] = pd.to_datetime(df['INDENT_DT'], format=date_format, errors='coerce')
df['MATL_RECEIPT_DT'] = pd.to_datetime(df['MATL_RECEIPT_DT'], format=date_format, errors='coerce')

In [14]:
df.to_excel("C:\\Users\\KIIT\\OneDrive\\Desktop\\leadtime\\leadtime_data.xlsx")

In [15]:
# Get the counts of each unique value in the CATALOG_DESC column
catalog_desc_counts = df['CATALOG_DESC'].value_counts()

# Get the top 10 most repeated products
top_10_catalog_desc = catalog_desc_counts.head(15)

# Select the products at positions 1, 2, 6, 8 and 13 (1-based index, so adjust for 0-based index)
positions = [1, 2, 6, 8,13]
selected_products = [top_10_catalog_desc.index[pos-1] for pos in positions]

# Filter the dataset to include only these selected products
filtered_df = df[df['CATALOG_DESC'].isin(selected_products)]

# Display the filtered dataframe
print(filtered_df)

        SH_CD  CATALOG_NO                                       CATALOG_DESC  \
20405       4   800726208  SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...
21502       4   800726208  SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...
22768       4   800726208  SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...
22946       4   800726208  SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...
24128       4   800726208  SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...
...       ...         ...                                                ...
117681      4  1702170907  HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...
117682      4  1702170907  HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...
117683      4  1702170907  HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...
117684      4  1702170907  HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...
117685      4  1702170907  HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...

        INDENT_DT MATL_RECEIPT_DT  INSUR_ITEM_IND  AR_ITEM_IND  SPC_ITEM_IND  \
20405  2012-05-14      2013-10-11               0            0             0
21502  2012-05-14      2013-10-11               0            0             0
22768  2012-05-14      2013-10-10               0            0             0
22946  2012-05-14      2013-10-10               0            0             0
24128  2012-05-14      2013-10-11               0            0             0
...           ...             ...             ...          ...           ...
117681 2013-08-10      2014-01-28               0            0             0
117682 2013-08-10      2014-01-28               0            0             0
117683 2013-08-10      2014-01-27               0            0             0
117684 2013-08-10      2014-01-27               0            0             0
117685 2013-08-10      2013-12-30               0            0             0

        QUALITY_IND  LEAD_TIME  base_date  time_line
20405             1        515 1999-01-01       4882
21502             1        515 1999-01-01       4882
22768             1        514 1999-01-01       4882
22946             1        514 1999-01-01       4882
24128             1        515 1999-01-01       4882
...             ...        ...        ...        ...
117681            1        171 1999-01-01       5335
117682            1        171 1999-01-01       5335
117683            1        170 1999-01-01       5335
117684            1        170 1999-01-01       5335
117685            1        142 1999-01-01       5335

[11048 rows x 12 columns]

In [16]:
# Extract features from the date columns
filtered_df['INDENT_YEAR'] = filtered_df['INDENT_DT'].dt.year
filtered_df['INDENT_MONTH'] = filtered_df['INDENT_DT'].dt.month
filtered_df['INDENT_DAY'] = filtered_df['INDENT_DT'].dt.day
filtered_df['RECEIPT_YEAR'] = filtered_df['MATL_RECEIPT_DT'].dt.year
filtered_df['RECEIPT_MONTH'] = filtered_df['MATL_RECEIPT_DT'].dt.month
filtered_df['RECEIPT_DAY'] = filtered_df['MATL_RECEIPT_DT'].dt.day

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\3123048947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['INDENT_YEAR'] = filtered_df['INDENT_DT'].dt.year
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\3123048947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['INDENT_MONTH'] = filtered_df['INDENT_DT'].dt.month
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\3123048947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['INDENT_DAY'] = filtered_df['INDENT_DT'].dt.day
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\3123048947.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['RECEIPT_YEAR'] = filtered_df['MATL_RECEIPT_DT'].dt.year
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\3123048947.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['RECEIPT_MONTH'] = filtered_df['MATL_RECEIPT_DT'].dt.month
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\3123048947.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['RECEIPT_DAY'] = filtered_df['MATL_RECEIPT_DT'].dt.day

In [17]:
filtered_df

,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line,INDENT_YEAR,INDENT_MONTH,INDENT_DAY,RECEIPT_YEAR,RECEIPT_MONTH,RECEIPT_DAY
20405,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
21502,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
22768,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-10,0,0,0,1,514,1999-01-01,4882,2012,5,14,2013,10,10
22946,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-10,0,0,0,1,514,1999-01-01,4882,2012,5,14,2013,10,10
24128,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335,2013,8,10,2014,1,28
117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335,2013,8,10,2014,1,28
117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335,2013,8,10,2014,1,27
117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335,2013,8,10,2014,1,27
117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335,2013,8,10,2013,12,30

In [18]:
df=filtered_df

In [19]:
df['INDENT_DT'] = pd.to_datetime(df['INDENT_DT'], format='%d-%m-%Y')
df['MATL_RECEIPT_DT'] = pd.to_datetime(df['MATL_RECEIPT_DT'], format='%d-%m-%Y')

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\2383088839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INDENT_DT'] = pd.to_datetime(df['INDENT_DT'], format='%d-%m-%Y')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\2383088839.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MATL_RECEIPT_DT'] = pd.to_datetime(df['MATL_RECEIPT_DT'], format='%d-%m-%Y')

In [20]:
df

,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line,INDENT_YEAR,INDENT_MONTH,INDENT_DAY,RECEIPT_YEAR,RECEIPT_MONTH,RECEIPT_DAY
20405,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
21502,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
22768,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-10,0,0,0,1,514,1999-01-01,4882,2012,5,14,2013,10,10
22946,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-10,0,0,0,1,514,1999-01-01,4882,2012,5,14,2013,10,10
24128,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335,2013,8,10,2014,1,28
117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335,2013,8,10,2014,1,28
117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335,2013,8,10,2014,1,27
117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335,2013,8,10,2014,1,27
117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335,2013,8,10,2013,12,30

In [21]:
date_format = '%Y-%m-%d %H:%M:%S'
df['INDENT_DT'] = pd.to_datetime(df['INDENT_DT'], format=date_format, errors='coerce')
df['MATL_RECEIPT_DT'] = pd.to_datetime(df['MATL_RECEIPT_DT'], format=date_format, errors='coerce')

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\183471960.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INDENT_DT'] = pd.to_datetime(df['INDENT_DT'], format=date_format, errors='coerce')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\183471960.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MATL_RECEIPT_DT'] = pd.to_datetime(df['MATL_RECEIPT_DT'], format=date_format, errors='coerce')

In [22]:
df

,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line,INDENT_YEAR,INDENT_MONTH,INDENT_DAY,RECEIPT_YEAR,RECEIPT_MONTH,RECEIPT_DAY
20405,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
21502,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
22768,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-10,0,0,0,1,514,1999-01-01,4882,2012,5,14,2013,10,10
22946,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-10,0,0,0,1,514,1999-01-01,4882,2012,5,14,2013,10,10
24128,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335,2013,8,10,2014,1,28
117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335,2013,8,10,2014,1,28
117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335,2013,8,10,2014,1,27
117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335,2013,8,10,2014,1,27
117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335,2013,8,10,2013,12,30

In [23]:
# Extract features from the date
df['INDENT_YEAR'] = df['INDENT_DT'].dt.year
df['INDENT_MONTH'] = df['INDENT_DT'].dt.month
df['INDENT_DAY'] = df['INDENT_DT'].dt.day

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\1764409645.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INDENT_YEAR'] = df['INDENT_DT'].dt.year
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\1764409645.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INDENT_MONTH'] = df['INDENT_DT'].dt.month
C:\Users\KIIT\AppData\Local\Temp\ipykernel_6316\1764409645.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INDENT_DAY'] = df['INDENT_DT'].dt.day

In [24]:
df

,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line,INDENT_YEAR,INDENT_MONTH,INDENT_DAY,RECEIPT_YEAR,RECEIPT_MONTH,RECEIPT_DAY
20405,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
21502,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
22768,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-10,0,0,0,1,514,1999-01-01,4882,2012,5,14,2013,10,10
22946,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-10,0,0,0,1,514,1999-01-01,4882,2012,5,14,2013,10,10
24128,4,800726208,SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:2...,2012-05-14,2013-10-11,0,0,0,1,515,1999-01-01,4882,2012,5,14,2013,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335,2013,8,10,2014,1,28
117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335,2013,8,10,2014,1,28
117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335,2013,8,10,2014,1,27
117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335,2013,8,10,2014,1,27
117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335,2013,8,10,2013,12,30

In [25]:
# Filter the dataset to include only these top products
filtered_df = df[df['CATALOG_DESC'].isin(selected_products)]

# Extract features from the date columns
filtered_df['INDENT_YEAR'] = filtered_df['INDENT_DT'].dt.year
filtered_df['INDENT_MONTH'] = filtered_df['INDENT_DT'].dt.month
filtered_df['INDENT_DAY'] = filtered_df['INDENT_DT'].dt.day
filtered_df['RECEIPT_YEAR'] = filtered_df['MATL_RECEIPT_DT'].dt.year
filtered_df['RECEIPT_MONTH'] = filtered_df['MATL_RECEIPT_DT'].dt.month
filtered_df['RECEIPT_DAY'] = filtered_df['MATL_RECEIPT_DT'].dt.day

# Convert categorical variables to numerical
filtered_df = pd.get_dummies(filtered_df, columns=['CATALOG_DESC'])

# Drop original datetime columns as we have extracted useful features from them
filtered_df = filtered_df.drop(columns=['INDENT_DT', 'MATL_RECEIPT_DT','base_date'])

In [26]:
filtered_df

,SH_CD,CATALOG_NO,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,time_line,INDENT_YEAR,INDENT_MONTH,INDENT_DAY,RECEIPT_YEAR,RECEIPT_MONTH,RECEIPT_DAY,CATALOG_DESC_CAUSTIC SODA (LYE) RAYON GRADE 46-48% IS-252 (ON 100% BASIS). AS PER IS: 252.,"CATALOG_DESC_CAUSTIC SODA (LYE) RAYON GRADE 46-48% IS-252 (ON 100% BASIS). AS PER IS: 252. SODIUM CARBONATE(AS na2co3) :0.40% max. Sodium hydroxide(as NAOH)99.50% Min.,CHLORIDES (AS NACL)0.10%(MAX), SULPHATES (AS NA2SO4):0.10% MAX. SILICATES (AS SIO2 )0.02% MAX.,IRON AS FE:20 PPM MAX. COPPER ( As Cu):2 PPM MAX., CHLOFRATES & PER CHLORATES (AS NACL03) 10 PPM MAX. MATTER INSOLUBLE IN WATER 0.05 MAX. MANGANESE (AS Mn) 1PPM MAX.","CATALOG_DESC_HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS PER IS :1987-2002, GRADE-C",CATALOG_DESC_SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:266-1993 WITH A MINIMUM OF 98% CONCENTRATION.,"CATALOG_DESC_SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:266-1993 WITH A MINIMUM OF 98% CONCENTRATION.TOTAL ACIDITY AS H2SO4 % BY MASS :98% MIN, RESIDUE ON IGNITION % BY MASS MAX:0.20%, IRON AS FE% BY MASS: MAX:0.05%, LEAD AS Pb % BY MASS: MAX:0.005%, ARCENIC AS ""As"" % BY MASS : MAX:0.004%"
20405,4,800726208,0,0,0,1,515,4882,2012,5,14,2013,10,11,False,False,False,True,False
21502,4,800726208,0,0,0,1,515,4882,2012,5,14,2013,10,11,False,False,False,True,False
22768,4,800726208,0,0,0,1,514,4882,2012,5,14,2013,10,10,False,False,False,True,False
22946,4,800726208,0,0,0,1,514,4882,2012,5,14,2013,10,10,False,False,False,True,False
24128,4,800726208,0,0,0,1,515,4882,2012,5,14,2013,10,11,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,4,1702170907,0,0,0,1,171,5335,2013,8,10,2014,1,28,False,False,True,False,False
117682,4,1702170907,0,0,0,1,171,5335,2013,8,10,2014,1,28,False,False,True,False,False
117683,4,1702170907,0,0,0,1,170,5335,2013,8,10,2014,1,27,False,False,True,False,False
117684,4,1702170907,0,0,0,1,170,5335,2013,8,10,2014,1,27,False,False,True,False,False
117685,4,1702170907,0,0,0,1,142,5335,2013,8,10,2013,12,30,False,False,True,False,False

In [2]:

import pandas as pd
import numpy as np 
filtered_df=pd.read_excel("C:\\Users\\KIIT\\OneDrive\\Desktop\\leadtime\\prediction_values.xlsx")

In [27]:
filtered_df.to_excel("C:\\Users\\KIIT\\OneDrive\\Desktop\\leadtime\\prediction_values.xlsx")

# filtered_df

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

# Define the features and target variable
X = filtered_df.drop(columns=['LEAD_TIME'])
y = filtered_df['LEAD_TIME']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate the Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

# Save the model
import joblib
joblib.dump(model, 'lead_time_prediction_model.pkl')

Mean Absolute Error: 0.5337487118488823

['lead_time_prediction_model.pkl']

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
from xgboost import XGBRegressor

# Assuming filtered_df is your DataFrame containing the relevant data
# You need to select the appropriate columns for X (features) and y (target variable)
# Let's assume you want to predict the 'LEAD_TIME' based on other columns

# Selecting features (X) and target variable (y)
X = filtered_df[['SH_CD', 'CATALOG_NO', 'INSUR_ITEM_IND', 'AR_ITEM_IND', 'time_line', 'SPC_ITEM_IND', 'QUALITY_IND', 'INDENT_YEAR', 'INDENT_MONTH', 'INDENT_DAY']]
y = filtered_df['LEAD_TIME']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Gradient Boosting Regressor
gb_model = GradientBoostingRegressor()
gb_model.fit(X_train, y_train)
y_pred_gb = gb_model.predict(X_test)
mae_gb = mean_absolute_error(y_test, y_pred_gb)
rmse_gb = np.sqrt(mean_squared_error(y_test, y_pred_gb))
r2_gb = r2_score(y_test, y_pred_gb)
print("Gradient Boosting Regressor - Mean Absolute Error:", mae_gb)
print("Gradient Boosting Regressor - Root Mean Squared Error:", rmse_gb)
print("Gradient Boosting Regressor - R2 Score:", r2_gb)

# XGBoost Regressor
xgb_model = DecisionTreeRegressor()
xgb_model.fit(X_train, y_train)
y_pred_xgb = xgb_model.predict(X_test)
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
rmse_xgb = np.sqrt(mean_squared_error(y_test, y_pred_xgb))
r2_xgb = r2_score(y_test, y_pred_xgb)
print("XGBoost Regressor - Mean Absolute Error:", mae_xgb)
print("XGBoost Regressor - Root Mean Squared Error:", rmse_xgb)
print("XGBoost Regressor - R2 Score:", r2_xgb)

Gradient Boosting Regressor - Mean Absolute Error: 93.56818279615091
Gradient Boosting Regressor - Root Mean Squared Error: 135.68721387471058
Gradient Boosting Regressor - R2 Score: 0.10193639942574295
XGBoost Regressor - Mean Absolute Error: 93.56803691735132
XGBoost Regressor - Root Mean Squared Error: 135.68714779620197
XGBoost Regressor - R2 Score: 0.1019372741240614

In [18]:
indices_to_print = [0, 1, 2,]
print("Predicted\tActual")
for idx in indices_to_print:
    print(f"{y_pred_gb[idx]:.2f}\t\t{y_test.iloc[idx]:.2f}")

Predicted	Actual
350.09		275.00
201.36		171.00
214.13		188.00

In [31]:
import numpy as np
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Assuming X and y are your features and target variable
# X and y should be properly preprocessed and ready for modeling

# Initialize models
models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(),
    "Lasso Regression": Lasso(),
    "ElasticNet Regression": ElasticNet(),
    "Decision Tree Regression": DecisionTreeRegressor(),
    "Random Forest Regression": RandomForestRegressor()
}

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train and evaluate models
for name, model in models.items():
    # Fit the model
    model.fit(X_train, y_train)
    
    # Predict on the test set
    y_pred = model.predict(X_test)
    
    # Calculate RMSE
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    
    print(f"{name}: RMSE = {rmse:.2f}")
    print(r2_score(y_test, y_pred))

Linear Regression: RMSE = 0.71
0.9999751965641638
Ridge Regression: RMSE = 0.81
0.9999677949707295
Lasso Regression: RMSE = 8.58
0.9964055030555442
ElasticNet Regression: RMSE = 123.90
0.2511708555918799

C:\Users\KIIT\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_ridge.py:216: LinAlgWarning: Ill-conditioned matrix (rcond=4.96169e-21): result may not be accurate.
  return linalg.solve(A, Xy, assume_a="pos", overwrite_a=True).T

Decision Tree Regression: RMSE = 74.05
0.73254337004938
Random Forest Regression: RMSE = 74.05
0.7325226708391694

In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np
import joblib

# Assuming filtered_df is your DataFrame containing the relevant data
filtered_df = pd.read_excel("C:\\Users\\KIIT\\OneDrive\\Desktop\\leadtime\\prediction_values.xlsx")

# Selecting features (X) and target variable (y)
X = filtered_df[['SH_CD', 'CATALOG_NO', 'INSUR_ITEM_IND', 'AR_ITEM_IND', 'SPC_ITEM_IND', 'QUALITY_IND', 'INDENT_YEAR', 'INDENT_MONTH', 'INDENT_DAY', 'RECEIPT_YEAR', 'RECEIPT_MONTH', 'RECEIPT_DAY']]
y = filtered_df['LEAD_TIME']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate Mean Absolute Error (MAE) and Root Mean Squared Error (RMSE)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)

# Save the model
joblib.dump(model, 'lead_time_prediction_model.pkl')

Mean Absolute Error: 0.5591414637150217
Root Mean Squared Error: 0.7130849985451497

['lead_time_prediction_model.pkl']

In [33]:
import pandas as pd 
df=pd.read_excel("C:\\Users\\KIIT\\OneDrive\\Desktop\\leadtime\\leadtime_data.xlsx")

In [34]:
df

,Unnamed: 0,SH_CD,CATALOG_NO,CATALOG_DESC,INDENT_DT,MATL_RECEIPT_DT,INSUR_ITEM_IND,AR_ITEM_IND,SPC_ITEM_IND,QUALITY_IND,LEAD_TIME,base_date,time_line
0,0,4,209110603,BRG.NO.32211 A,2002-01-21,2002-09-14,0,0,1,0,236,1999-01-01,1116
1,1,4,2585401002,WHITE CANVAS SHOES SIZE: 10.,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
2,2,4,910995101,NYLON WHITE SOCKS. .,2002-06-10,2002-09-24,0,0,0,0,106,1999-01-01,1256
3,3,4,1132805505,UNILITE MAKE 1X250W HPSV CONTROL GEAR BOX DULY...,2002-03-09,2002-09-06,0,0,1,0,181,1999-01-01,1163
4,4,4,209130407,BRG.NO. 32213 J2/Q,2002-05-03,2002-09-14,0,0,1,0,134,1999-01-01,1218
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117681,117681,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117682,117682,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-28,0,0,0,1,171,1999-01-01,5335
117683,117683,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117684,117684,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2014-01-27,0,0,0,1,170,1999-01-01,5335
117685,117685,4,1702170907,"HIGH SILICA SAND FOR USE IN FOUNDRY, 90-95% AS...",2013-08-10,2013-12-30,0,0,0,1,142,1999-01-01,5335

In [35]:
# Get the unique values in the CATALOG_DESC column and their counts
catalog_desc_counts = df['CATALOG_DESC'].value_counts()

# Display the result
print(catalog_desc_counts)

CATALOG_DESC
SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:266-1993 WITH A MINIMUM OF 98% CONCENTRATION.                                                                                                                                                                                                                                       5739
SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:266-1993 WITH A MINIMUM OF 98% CONCENTRATION.TOTAL ACIDITY AS H2SO4 % BY MASS :98% MIN, RESIDUE ON IGNITION % BY MASS MAX:0.20%, IRON AS FE% BY MASS: MAX:0.05%, LEAD AS Pb % BY MASS: MAX:0.005%, ARCENIC AS "As" % BY MASS : MAX:0.004%                                           3782
SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:266-1993 WITH A MINIMUM OF 98% CONCENTRATION. TOTAL ACIDITY AS HZSO4 PERCENT BY MASS: 98.00%(MIN.).  RESIDUE ON IGNITION PERCENT BY MASS MAX: 0.20%.  IRON AS FE PERCENT BY MASS MAX: 0.05%.  LEAD AS PB PERCENT BY MASS MAX: 0.005%. ARCENIC AS AS PERCENT BY MASS MAX: 0.004%.    1091
SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:266-1993 WITH A MINIMUM OF 98% CONCENTRATION. TOTAL ACIDITY AS HZSO4 PERCENT BY MASS: 98.00%(MIN.).  RESIDUE ON IGNITION PERCENT BY MASS MAX: 0.20%.  IRON AS FE PERCENT BY MASS MAX: 0.05%.  LEAD AS PB PERCENT BY MASS MAX: 0.005%.  ARCENIC AS PERCENT BY MASS MAX: 0.004%.      1085
SULPHURIC ACID (TECH.GRADE) CONFIRMING TO IS:266-1993 WITH A MINIMUM OF 98% CONCENTRATION. TOTAL ACIDITY AS H2SO4 % BY MASS:98(MIN), RESIDUE ON IGNITION % BY MASS:0.20% MAX, IRON AS Fe% BY MASS :0.05% MAX, LEAD AS Pb % BY MASS :0.005% MAX. ARCENIC AS "As" % BY MASS :0.004% MAX.                                            847
                                                                                                                                                                                                                                                                                                                                 ...
BRG.NO.6304.C3                                                                                                                                                                                                                                                                                                                      1
STAINLESS STEEL CUT SHIMS, AISI 304 +/-5% TOLERANCE ON THICKNESS, OVERALL SIZE:300 X 250MM, GROOVE SIZE: 240MM X 40MM, THICKNESS:0.1 MM.                                                                                                                                                                                            1
BRG.NO.22211 MBK W33 MAKE:ROLLWAY                                                                                                                                                                                                                                                                                                   1
PLAIN CHISEL FOR CLEANING TYPE`A' OF DRG.NO.MEC/1210/10/01/9880, MATERIAL : IS 226.                                                                                                                                                                                                                                                 1
BEARING 32314.J2/Q  MAKE:SKF                                                                                                                                                                                                                                                                                                        1
Name: count, Length: 50652, dtype: int64